@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import '../sass_utils/_variables.scss';


@mixin flex {
    display: flex;
    align-items: center;
}



.margin {
    margin-top: 0.6em
}

footer {
    @include flex;
    background-image: url('/ressource/assets/footer/img-ng-footer.jpg');
    background-size: contain;
    background-position: center;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 5rem;
    color: $gray;
    width: 100%;
    font-family: $Gill;

    hr {
        color: $gray;
        width: 85%;
    }
}

.footer_image {
    width: 12rem;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    column-gap: 3rem;
    margin: 3rem 10rem;

    h3 {
        font-family: $Old;
        font-weight: lighter;
        font-size : 25px;
        color: $white;
    }
    ul {
        list-style: none;
        list-style: none;
        margin-top: 0;
        padding-left: 0;
    }

    ul, p {
        font-size: 0.70em;
        color: $gray_golden;
    }

    li {
        margin-top: 0.5rem;
    }
   
    a {
        text-decoration: none;
        color: $gray_golden;
    }

    p {
        margin-top: 0;
    }

    input {
        padding: 0.75rem;
        max-width: 70%;
        border: none;
    }

    button {
        padding: 0.75rem 1rem;
        color: $white;
        background-color: #CAAE65;
        border: none;
    }

    i {
        color: $white;
    }
    
}

.img-container {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.spoon {
    position: absolute;
    bottom: -50px;
    width: 4rem;
    left: 0;
    right: 0;
    margin: auto;
}

.footer_bottom {
    @include flex;
    justify-content: space-between;
    width: 85%;

    p {
        font-size: 0.70em;
        color: $gray_golden;
    }

    span {
        color: $orange;
    }

    i {
        padding: 0.5rem;
        background-color: $gray;
        border-radius: 10rem;
        color: $gray_golden;
    }

    i:hover {
        background-color: $golden;
        color: $white;
    }
}