@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import '../sass_utils/_variables.scss';

#section-blog {
    font-family: $Gill;
    padding-top: 9rem;
    padding-bottom: 5rem;

    h2 {
        text-align: center;
        margin-bottom: 0;
        font-size: 3em;
        font-family: $Old;
        font-weight:lighter;
    }

    #p-center {
        text-align: center;
    }
}

#blog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: 0 auto;
    column-gap: 2rem;
    margin-top: 8rem;
}

.section__div--card {
    background-color: $Light_gray;
    max-width: 100%;
    padding-bottom: 3rem;
    
    img {
        max-width: 100%;
        margin-bottom: 1.5rem;
    }

    p, a {
        margin-left: 2rem;
    }

    a{
        display: block;
        text-decoration: none;
        color: black;
        background-color: $white;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 8rem;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 0.75em;
    }

    a:hover{
        background-color: $golden;
        color: $white;
    }

    i {
        background-color: transparent;
    }

}

.fa-circle-user, .fa-calendar-days {
    color: $golden;
}

.div__p--inline {
    display: inline-block;
    font-size: 0.65em;
}

.div__p--font {
    font-family: $Old;
}

#blog-brand-img {
    display: flex;
    width: 75%;
    margin: 5rem auto;
    text-align: center;
    justify-content: space-between;
    
    img{
        max-width: 10%;
    }
}


