@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import '../sass_utils/_variables.scss';

.blognews{
    font-family: $Gill;
}

.background-text {
    position: absolute;
    font-size: 10em;
    opacity: 0.02;
    top: -7rem;
    font-family: $Old;
}

.blognews {
    h2 {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 0;
        font-size: 3em;
        font-family: $Old;
    }
}


.center {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    column-gap: 3rem;
    margin-top: 5rem;
}

.card {
    background-color: $Light_gray;
    max-width: 100%;
    padding-bottom: 3rem;

    .inline {
        display: inline;
        font-size: 0.75em;
    }
    
    img {
        max-width: 100%;
        margin-bottom: 1.5rem;
    }

    p, a {
        margin-left: 2rem;
    }

    i {
        background-color: $Light-gray;
    }

    a{
        display: block;
        text-decoration: none;
        color: black;
        background-color: $white;
        padding: 1rem;
        margin-top: 2rem;
        margin-right: 9rem;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 0.75em;
    }

    a:hover{
        background-color: $golden;
        color: $white;
    }

    i {
        background-color: transparent;
        color: $golden;
    }
}   

.brand-img {
    display: flex;
    width: 80%;
    margin: 5rem auto;
    text-align: center;
    justify-content: space-between;
    
    img{
        max-width: 10%;
    }
}



.Times {
    font-family: $Old;
}
