@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import '../sass_utils/variables.scss';


@mixin flex {
    display: flex;
    align-items: center;
}

.margin {
    margin-top: 0.6em
}

footer {
    @include flex;
    background-image: url('/ressource/assets/footer/img-ng-footer.jpg');
    background-size: contain;
    background-position: center;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 5rem;
    color: $gray;
    width: 100%;
    font-family: $Gill;

    hr {
        color: $gray;
        width: 85%;
        margin-bottom: 0.5em;
    }
}

#footer-kabibi-img {
    width: 12rem;
}

#div-info {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    column-gap: 3rem;
    margin: 3rem 10rem;

    h3 {
        font-family: $Old;
        font-weight: lighter;
        font-size : 25px;
        color: $white;
    }
    ul {
        list-style: none;
        list-style: none;
        margin-top: 0;
        padding-left: 0;
    }

    ul, p {
        font-size: 0.70em;
        color: $gray_golden;
    }

    li {
        margin-top: 0.5rem;
    }
   
    a {
        text-decoration: none;
        color: $gray_golden;
    }

    p {
        margin-top: 0;
    }

    input {
        padding: 0.75rem;
        max-width: 70%;
        border: none;
        margin-top: 2em;
    }

    button {
        padding: 0.75rem 1rem;
        color: $white;
        background-color: #CAAE65;
        border: none;
    }
    i {
        color: $golden;
    }

    .fa-arrow-right {
        color: $white;
    }
    
}

#container-img {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 4rem;
}

.spoon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -50px;
}

#footer_bottom {
    @include flex;
    justify-content: space-between;
    width: 85%;

    span {
        color: $orange;
    }

    i {
        padding: 0.5rem;
        background-color: $gray;
        border-radius: 10rem;
        color: $gray_golden;
    }

    i:hover {
        background-color: $golden;
        color: $white;
    }
}

#copyright {
    font-size: 0.70em;
    color: $gray_golden;
    width: 50%;

}

@media only screen and (max-width: 896px) {
    .section__div--bgtext {
        p {
            font-size: 5.5em;
            top: -60px;
        }
    }

    h2 {
        font-size: 2em;
        color: $gray_golden
    }

    #gallery-grid {
        column-gap: 1rem;
        row-gap: 1rem;

        h3 {
            font-size: 1.5em;
        }

        p {
            font-size: 0.75em;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        article {
            height: 10rem;
        }

    }
    
    #blog-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    #div-info {
        grid-template-columns: 1fr 1fr;
    }

}