@import '../sass_utils/variables';



@media (min-width: 897px) and (max-width: 1080px) {

}

.section__div--bgtext {
    position: relative;

    p {
        font-family: $Old;
        position: absolute;
        font-size: 9em;
        opacity: 0.02;
        top: -135px;
        font-family: $Old;
    }
}

h2 {
    font-family: $Old;
    font-size: 3em;
    margin-bottom: 0;
    font-size: lighter;
    text-align: center;
}

#gallery-photo {
    font-family: $Gill;
    text-align: center;
    padding-bottom: 12rem;
    padding-top: 8rem;

    a {
        display: inline-block;
        text-decoration: none;
        color: $black;
        border: 1px solid $Light-gray;
        padding: 1rem;
        margin-top: 7rem;
        width: 25%;

    }
}

#gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 75%;
    margin: 0 auto;
    margin-top: 8rem;

    article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 288px;
        color: $white;
        line-height: center;
        background-position: center;
        background-size: cover;
        color: transparent;
    }

    #img-egg {
        grid-column-start: 1;
        grid-column-end: 3;
        background-image: url(/ressource/assets/gallery/img1gallerybox.jpg);

        &:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/ressource/assets/gallery/img1gallerybox.jpg');
            color: $white;
            background-position: center;
            background-size: cover;
        }
    }

    #img-sandwich {
        background-image: url(/ressource/assets/gallery/img2gallerybox.jpg);

        &:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/ressource/assets/gallery/img2gallerybox.jpg');
            color: $white;
        }
    }

    #img-pizza {
        background-image: url(/ressource/assets/gallery/img3gallerybox.jpg);

        &:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/ressource/assets/gallery/img3gallerybox.jpg');
            color: $white;
        }
    }

    #img-tomato {
        background-image: url(/ressource/assets/gallery/img4gallerybox.jpg);

        &:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/ressource/assets/gallery/img4gallerybox.jpg');
            color: $white;
        }
    }

    #img-meat {
        background-image: url(/ressource/assets/gallery/img5gallerybox.jpg);

        &:hover {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/ressource/assets/gallery/img5gallerybox.jpg');
            color: white;
        }
    }
    #img-burger {
        grid-column-start:3;
        grid-column-end: 5;
        background-image: url('/ressource/assets/gallery/img6gallerybox.jpg');
        
        &:hover{
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/ressource/assets/gallery/img6gallerybox.jpg');
            color: $white;
        }
    }

    h3 {
        font-family: $Old;
        font-size: 2em;
        margin-bottom: 0;
    }
}
