.section01 {
    background: url(/ressource/assets/banner/imgbgcategory.jpg);
    background-position:contain;
    background-size: 1450px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  
    .section01__title {
      // background-color: red;
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .section01__title__h2 {
        font-size: 3rem;
        text-transform: uppercase;
      }
      .section01__title__sub {
          font-family: sans-serif;
        }
    }
  }
  
  .section01__categories{
      // background-color: blue;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .section01__categories--grid{
      // background-color: yellow;
      display: grid;
      grid-template-columns: repeat(6, 100px);
      grid-gap: 20px;
  }
  
  .section01__categories__cheeseburger{
      @include section01-categories;
  }
  
  .section01__categories__pizza{
      @include section01-categories
  }
  
  .section01__categories__coffe{
      @include section01-categories
  }
  
  .section01__categories__chicken{
      @include section01-categories
  }
  
  .section01__categories__drink{
      @include section01-categories
  }
  
  .section01__categories__shrimp{
      @include section01-categories
  }
  
  .section01__foods{
      // background-color: yellow;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
  }
  
  .section01__foods--grid{
      // background-color: blue;
      width: 90%;
      display: grid;
      grid-template-columns: 20% 50% 30%;
      grid-gap: 20px;
  }
  
  .section01__foods{
  
      .section01__foods__first{
  
          .section01__foods__first__img{
              margin-top: 250px;
          }
      }
      
      .section01__foods__third{
      
          .section01__foods__third__img{
              margin-top: 200px;
          }
      }
  }
  
  .section01__foods__second__img{
      border-radius: 100%;
      border: 30px solid white;
  }