.section01 {
  background: url(/ressource/assets/banner/imgbgcategory.jpg);
  background-position:center;
  background-size: 1450px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  .section01__title {
    // background-color: red;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section01__title__h2 {
      font-size: 3rem;
      text-transform: uppercase;
    }
    .section01__title__sub {
        font-family: sans-serif;
      }
  }
}

.section01__categories{
    // background-color: blue;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section01__categories--grid{
    // background-color: yellow;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 20px;
}

.section01__categories__cheeseburger{
    @include section01-categories;
}

.section01__categories__pizza{
    @include section01-categories
}

.section01__categories__coffe{
    @include section01-categories
}

.section01__categories__chicken{
    @include section01-categories
}

.section01__categories__drink{
    @include section01-categories
}

.section01__categories__shrimp{
    @include section01-categories
}


.section01__foods--grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
