/* font */
$Gill: 'Gill Sans', sans-serif;
$Old: 'Old Standard TT', sans-serif;

/* Colors */
$Light_gray: #FAF7EF;
$white: #FFFFFF;
$golden: #CAAE65;
$gray_golden: #9E9674;
$gray: #262B2B;
$orange: orange;